{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block GDIP_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-top: 1em">
                <h4 class="inline">Evaluation numéro : 1 - Filière : {{ evaluation.stage.filiere.libelleFiliere }}</h4>
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td class="eval-categ-question">Lieux de stages</td>
                        </tr>
                        <tr class="eval-question">
                            <td>Question 1</td>
                        </tr>
                        <tr>
                            <td>Réponse 1</td>
                        </tr>
                        <tr class="eval-question">
                            <td>Question 2</td>
                        </tr>
                        <tr>
                            <td>Réponse 2</td>
                        </tr>
                        <tr>
                            <td class="eval-categ-question">Collègues</td>
                        </tr>
                        <tr class="eval-question">
                            <td>Question 1</td>
                        </tr>
                        <tr>
                            <td>Réponse 1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
