{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block test %}

    <div class="container">
        <div class="col-md-6 center-block">
            <h2>Votre profil</h2><br>
            <table class="table table-striped">

                <tbody>
                <tr>
                    <td class="td-bold-colored">Nom:</td>
                    <td>Dupond</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Prénom :</td>
                    <td>Jean</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Filière :</td>
                    <td>Biologie Médicale</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Réussite au concours :</td>
                    <td>xx/xx/xx</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Semestres validés :</td>
                    <td>3</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Classement :</td>
                    <td>6</td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Mail :</td>
                    <td>jeanjean@gmail.com</td>
                    <td><input type="submit" value="Modifier"> </td>
                </tr>
                <tr>
                    <td class="td-bold-colored">Mot de passe :</td>
                    {# Mot de passe non affiché pour éviter les problème de sécurité #}
                    <td> ******* </td>
                    <td><input type="submit" value="Modifier"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}