#header {
    position : relative;
    height: 125px;
}

#footer a {
    color: #9C2B53;
    text-decoration: none;
}

header {
    border-bottom : 2px solid #9C2B53;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-bottom {
    width : 100%;
}

.text-header {
    color: #9C2B53;
    text-align : right;
    font-style: italic;
    font-size: 14px;
    height : 125px;
    background-repeat:no-repeat;
    font-weight: bold;
    background-image : url("../img/logosiphif.png");
    padding-top : 105px;
}

#footer {
    color: #9C2B53;
    vertical-align: middle;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 45px;
}

#footer div{
    height: 45px;
    line-height: 45px;
}


#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
/*
    Only Needed in Multi-Coloured Variation
                                               */
.social-fb:hover {
    color: #9C2B53;
}
.social-tw:hover {
    color: #9C2B53;
}
.social-gp:hover {
    color: #9C2B53;
}
.social-em:hover {
    color: #9C2B53;
}

#footer {
    background-color: #ECECEC;
}
