{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block GDIP_body %}
    <div class="page-adhesion">
        <div class="container">
                    <div class="col-md-1 red_circle">
                <i class="fa fa-chevron-left"></i>
            </div>
            <h2>Adhésion au SIPHIF</h2>
            <div class="col-md-6 center-block">
                <div class="container">
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut felis eget metus rhoncus cursus. Integer varius urna scelerisque, suscipit leo a, aliquam purus. Phasellus est velit, vulputate eu euismod id, pulvinar ac magna. Nam vel congue sapien, non placerat nisi. In hac habitasse platea dictumst. Quisque cursus nibh nec massa malesuada, sed gravida odio placerat. Ut id risus elit. Proin id metus elit. Donec ullamcorper quis felis vitae rutrum. Aenean metus dui, viverra id eros in, varius aliquam enim. Suspendisse luctus tortor lorem, sed vestibulum nisl pulvinar congue. Cras blandit gravida tortor id laoreet.
                    </p>
                    <p>
                        Praesent varius laoreet orci, vitae viverra nisl mollis a. Vestibulum pellentesque nec diam sit amet dapibus. Fusce in urna risus. Aliquam vitae ornare enim. Ut malesuada tempor augue nec euismod. Nam placerat nisi ex, sed tincidunt enim varius sed. Proin maximus hendrerit eros in accumsan. Nullam ornare, eros quis tempor mollis, eros enim egestas leo, eget molestie nulla arcu et ipsum.
                    </p>
                    <p>
                        Sed vehicula elementum sem quis finibus. Aenean lectus elit, varius sed eros quis, aliquam vehicula libero. Mauris non massa consectetur, auctor turpis a, gravida mauris. Suspendisse aliquet pharetra quam, vel posuere sem efficitur vitae.
                    </p>
                    <p align="right">
                        <div class="btn">
                            <a href="">J'adhère ></a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}