{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block GDIP_body %}
    <div class="container-fluid">
        <div class="col-md-12 center-block">
            <h2>Actualités :</h2><br>
            <div class="container-fluid">
                {% for entity in entities %}
                    <div id="actualite{{ entity.id }}" class="row">    
                        <p class="lead">
                            {{ entity.date|date('d/m/Y - h:i:s')}}
                        </p>
                        <p class="dateActualite">
                            {{ entity.contenu|nl2br }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}