{% extends 'GDIPGDIPBundle::layout.html.twig' %}

{% block GDIP_body %}
    <script type="text/javascript" src="{{asset('bundles/front/js/jquery-2.1.4.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/front/js/jquery-ui.min.js')}}"></script>
    <div class="page-prechoix">
        <div class="container">
            <div class="col-md-5">
                Autre colonne
            </div>
            <div class="col-md-6">
                <div class="panel-title">
                    <h2>Mes choix</h2>
                    Faites glisser pour changer l'ordre
                    <h2>Ordre des voeux</h2>
                    <div class="IdList"></div><br />
                </div>


                <script>
                    $(function(){

                        $("#sortable").sortable();
                        var idArr=$( ".myList" ).sortable( "toArray" );
                        jQuery(".IdList").text(idArr.join());
                        $( ".myList" ).sortable({
                            stop: function( event, ui ) {
                                var idArr=$( ".myList" ).sortable( "toArray" );
                                jQuery(".IdList").text(idArr.join());//Génère la chaîne de caractères
                            }
                        });

                    });
                </script>
                <ul id="sortable" class="list-unstyled myList">

                    {% for prechoix in entities %}
                        <li class="panel panel-info" id="1">
                            <div class="panel-heading">Choix 1  <span class="pull-right clickable"><i class="fa fa-times"></i></span>   </div>
                            <div class="panel-body">
                                DES : BACTERIOLOGIE<br>
                                Hopital : Cochin<br>
                                Service : virologie<br>
                                Admission Possible : {{ prechoix.admisProb }}
                            </div>
                        </li>
                    {% endfor %}
                    <li class="panel panel-info" id="1">
                        <div class="panel-heading">Choix 1  <span class="pull-right clickable"><i class="fa fa-times"></i></span>   </div>
                        <div class="panel-body">
                            DES : BACTERIOLOGIE<br>
                            Hopital : Cochin<br>
                            Service : virologie<br>
                        </div>
                    </li>
                    <li class="panel panel-info" id="2">
                        <div class="panel-heading">Choix 2   <span class="pull-right clickable"><i class="fa fa-times"></i></span>   </div>
                        <div class="panel-body">
                            DES : BACTERIOLOGIE<br>
                            Hopital : Cochin<br>
                            Service : virologie<br>
                        </div>
                    </li>
                    <li class="panel panel-info" id="3">
                        <div class="panel-heading">Choix 3   <span class="pull-right clickable"><i class="fa fa-times"></i></span>   </div>
                        <div class="panel-body">
                            DES : BACTERIOLOGIE<br>
                            Hopital : Cochin<br>
                            Service : virologie<br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}