{% extends 'GDIPAdminBundle::layout.html.twig' %}

{% block admin_body %}
    <h1>Actualite creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('actualite') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
